In [1]:
import pandas as pd

dfcookies = pd.read_csv("christmas_cookies.csv", encoding='ISO-8859-1')
dfmusic = pd.read_csv("christmas_music.csv", encoding='ISO-8859-1')
dfmovies = pd.read_csv("christmas_movies.csv", encoding='ISO-8859-1')

dfcookies.head(10)

,recipe_name,butter,sugar,flour,sprinkles,chocolate,eggs,quantity
0,Sugar Twinkle,225,250,150,50,0,2,16
1,Chocolate Sprinkle,250,300,150,65,10,3,14
2,Holiday Macaroon,175,200,225,0,0,2,10
3,Christmas Chocolate Shortbread,250,225,150,25,25,0,12
4,Unique Gingerbread Snowflakes,275,100,200,0,0,3,12

In [2]:
dfmusic.head(10)

,key,loudness,mode,key_mode,track_name,artist_name
0,A#,-10.106,major,A# major,Silver Bells,Johnny Mathis
1,A,-15.871,major,A major,White Christmas,Bing Crosby
2,F#,-11.793,major,F# major,The Christmas Waltz,Tony Bennett
3,A,-4.708,major,A major,Stop the Cavalry,Jona Lewie
4,F#,-5.172,major,F# major,I Don't Want to Go Home for Christmas,Independent Counsel of Funk
5,G,-5.990,major,G major,Baby! It's Christmas,Jessie James Decker
6,G,-7.462,major,G major,All I Want for Christmas Is You,Mariah Carey
7,E,-5.718,major,E major,Deck the Halls,Mark Vincent
8,D,-12.918,minor,D minor,The Christmas Waltz,She & Him
9,A,-8.179,major,A major,I Saw Mommy Kissing Santa Claus,The Ronettes

In [3]:
dfmovies.head(10)

,Title,Year,Rating,IMBD Rating,Release Type,Genre,Run time
0,It's a Wonderful Life,1946,PG,8.6,Theater Release,Drama,130
1,Miracle on 34th Street,1947,PG,7.9,Theater Release,Drama,96
2,Rudolph the Red-Nosed Reindeer,1964,G,8.0,TV Movie,Animated,47
3,White Christmas,1954,NR,7.6,Theater Release,Musical,120
4,A Charlie Brown Christmas,1965,G,8.4,TV Movie,Animated,25
5,Frosty the Snowman,1969,G,7.3,TV Movie,Animated,25
6,A Christmas Story,1983,PG,7.9,Theater Release,Comedy,93
7,Trading Places,1983,R,7.5,Theater Release,Comedy,116
8,Mickey's Christmas Carol,1983,G,8.0,TV Movie,Animated,26
9,Gremlins,1984,PG,7.3,Theater Release,Horror,106

In [4]:
dfcookies.head(10)

,recipe_name,butter,sugar,flour,sprinkles,chocolate,eggs,quantity
0,Sugar Twinkle,225,250,150,50,0,2,16
1,Chocolate Sprinkle,250,300,150,65,10,3,14
2,Holiday Macaroon,175,200,225,0,0,2,10
3,Christmas Chocolate Shortbread,250,225,150,25,25,0,12
4,Unique Gingerbread Snowflakes,275,100,200,0,0,3,12

In [5]:
'''
1000 butter, 1000 sugar
all other ingredients unlimited
'''
def calculate_num_cookies(butter_required, sugar_required, quantity, sugar=1000, butter=1000):
    num_with_butter = butter // butter_required
    num_with_sugar = sugar // sugar_required
    
    return (min(num_with_butter, num_with_sugar)) * quantity

In [6]:
dfcookies['num_makeable'] = dfcookies.apply(lambda row: calculate_num_cookies(row['butter'], row['sugar'], row['quantity']), axis=1)

In [7]:
dfcookies.head(10)

,recipe_name,butter,sugar,flour,sprinkles,chocolate,eggs,quantity,num_makeable
0,Sugar Twinkle,225,250,150,50,0,2,16,64
1,Chocolate Sprinkle,250,300,150,65,10,3,14,42
2,Holiday Macaroon,175,200,225,0,0,2,10,50
3,Christmas Chocolate Shortbread,250,225,150,25,25,0,12,48
4,Unique Gingerbread Snowflakes,275,100,200,0,0,3,12,36

In [55]:
# the cookie is 
dfcookies.loc[dfcookies['num_makeable'].idxmax()]

recipe_name     Sugar Twinkle
butter                    225
sugar                     250
flour                     150
sprinkles                  50
chocolate                   0
eggs                        2
quantity                   16
num_makeable               64
Name: 0, dtype: object

In [8]:
'''
each song 3 minutes
each song -9 or lower
Eric all minor, Matt all F major
Thalita loves Dean Marting
'''

'\neach song 3 minutes\neach song -9 or lower\nEric all minor, Matt all F major\nThalita loves Dean Marting\n'

In [17]:
#print(dfmusic.head(10))
#dfmusic.dtypes
dfmusic

,key,loudness,mode,key_mode,track_name,artist_name
0,A#,-10.106,major,A# major,Silver Bells,Johnny Mathis
1,A,-15.871,major,A major,White Christmas,Bing Crosby
2,F#,-11.793,major,F# major,The Christmas Waltz,Tony Bennett
3,A,-4.708,major,A major,Stop the Cavalry,Jona Lewie
4,F#,-5.172,major,F# major,I Don't Want to Go Home for Christmas,Independent Counsel of Funk
...,...,...,...,...,...,...
162,F,-2.654,major,F major,Run Run Rudolph,Kelly Clarkson
163,F,-14.408,major,F major,Christmas in Our Hearts,Jose Mari Chan
164,G,-8.406,major,G major,I Want a Hippopotamus for Christmas (Hippo the...,Gayla Peevey
165,D#,-11.658,major,D# major,When a Child Is Born,Johnny Mathis
166,D,-11.317,major,D major,Feliz Navidad,José Feliciano

In [15]:
dfmusic['key']= dfmusic['key'].astype(str)
dfmusic.dtypes

key             object
loudness       float64
mode            object
key_mode        object
track_name      object
artist_name     object
dtype: object

In [22]:
dfmusic_select = pd.DataFrame()

dfmusic_select = dfmusic[(dfmusic['loudness'] <= -9)] 
dfmusic_select = dfmusic_select[(dfmusic_select['mode'] == 'minor') | (dfmusic_select['key_mode']=='F major') | 
                                (dfmusic_select['artist_name']=='Dean Martin') ] 
dfmusic_select

,key,loudness,mode,key_mode,track_name,artist_name
8,D,-12.918,minor,D minor,The Christmas Waltz,She & Him
36,F,-9.301,major,F major,Real Love,Tom Odell
41,B,-13.442,minor,B minor,Christmas In Hollis,RunD.M.C.
42,F,-10.160,major,F major,Frosty the Snowman,Fiona Apple
43,A,-19.697,minor,A minor,Christmas Time Is Here - Vocal,Vince Guaraldi Trio
44,F,-11.444,minor,F minor,I'll Be Home for Christmas,Doris Day
53,G#,-11.865,major,G# major,Silver Bells,Dean Martin
66,F,-15.160,major,F major,The Little Drummer Boy,Johnny Cash
69,A,-10.193,minor,A minor,Happy Holiday / The Holiday Season,Andy Williams
70,B,-10.476,major,B major,A Marshmallow World,Dean Martin
96,F#,-9.049,minor,F# minor,Mistletoe,Justin Bieber
119,F,-9.155,minor,F minor,Sleigh Ride,Andy Williams
141,G,-12.179,minor,G minor,Santa Claus Is Comin' to Town,Frank Sinatra
149,G,-10.956,minor,G minor,This Christmas,Chris Brown
163,F,-14.408,major,F major,Christmas in Our Hearts,Jose Mari Chan

In [24]:
dfmusic_sorted = dfmusic_select.sort_values(by='loudness', ascending=True)
dfmusic_sorted

,key,loudness,mode,key_mode,track_name,artist_name
43,A,-19.697,minor,A minor,Christmas Time Is Here - Vocal,Vince Guaraldi Trio
66,F,-15.160,major,F major,The Little Drummer Boy,Johnny Cash
163,F,-14.408,major,F major,Christmas in Our Hearts,Jose Mari Chan
41,B,-13.442,minor,B minor,Christmas In Hollis,RunD.M.C.
8,D,-12.918,minor,D minor,The Christmas Waltz,She & Him
141,G,-12.179,minor,G minor,Santa Claus Is Comin' to Town,Frank Sinatra
53,G#,-11.865,major,G# major,Silver Bells,Dean Martin
44,F,-11.444,minor,F minor,I'll Be Home for Christmas,Doris Day
149,G,-10.956,minor,G minor,This Christmas,Chris Brown
70,B,-10.476,major,B major,A Marshmallow World,Dean Martin
69,A,-10.193,minor,A minor,Happy Holiday / The Holiday Season,Andy Williams
42,F,-10.160,major,F major,Frosty the Snowman,Fiona Apple
36,F,-9.301,major,F major,Real Love,Tom Odell
119,F,-9.155,minor,F minor,Sleigh Ride,Andy Williams
96,F#,-9.049,minor,F# minor,Mistletoe,Justin Bieber

In [25]:
dfmusic_sorted.iloc[-1]

key                       F#
loudness              -9.049
mode                   minor
key_mode            F# minor
track_name         Mistletoe
artist_name    Justin Bieber
Name: 96, dtype: object

In [28]:
print(dfmovies.head(10))
dfmovies.dtypes

                            Title  Year Rating  IMBD Rating     Release Type  \
0           It's a Wonderful Life  1946     PG          8.6  Theater Release
1          Miracle on 34th Street  1947     PG          7.9  Theater Release
2  Rudolph the Red-Nosed Reindeer  1964      G          8.0         TV Movie
3                 White Christmas  1954     NR          7.6  Theater Release
4       A Charlie Brown Christmas  1965      G          8.4         TV Movie
5              Frosty the Snowman  1969      G          7.3         TV Movie
6               A Christmas Story  1983     PG          7.9  Theater Release
7                  Trading Places  1983      R          7.5  Theater Release
8        Mickey's Christmas Carol  1983      G          8.0         TV Movie
9                        Gremlins  1984     PG          7.3  Theater Release

      Genre  Run time
0     Drama       130
1     Drama        96
2  Animated        47
3   Musical       120
4  Animated        25
5  Animated        25
6    Comedy        93
7    Comedy       116
8  Animated        26
9    Horror       106

Title            object
Year              int64
Rating           object
IMBD Rating     float64
Release Type     object
Genre            object
Run time          int64
dtype: object

In [29]:
dfmovies_select = dfmovies[(dfmovies['Release Type']=='Theater Release') & (dfmovies['Genre']!='Animated') 
                                & (dfmovies['Year'] >= 1980) & (dfmovies['Year'] <= 1990)]

# now if tow movies in same year then filter higher rating

dfmovies_select

,Title,Year,Rating,IMBD Rating,Release Type,Genre,Run time
6,A Christmas Story,1983,PG,7.9,Theater Release,Comedy,93
7,Trading Places,1983,R,7.5,Theater Release,Comedy,116
9,Gremlins,1984,PG,7.3,Theater Release,Horror,106
10,Scrooged,1988,PG-13,7.0,Theater Release,Comedy,101
11,Die Hard,1988,R,8.2,Theater Release,Action,132
12,National Lampoon's Christmas Vacation,1989,PG-13,7.6,Theater Release,Comedy,97
13,Home Alone,1990,PG,7.6,Theater Release,Family,103
46,Prancer,1989,G,6.4,Theater Release,Drama,103

In [36]:
g = dfmovies_select.groupby(by='Year')
g.groups.keys()

dict_keys([1983, 1984, 1988, 1989, 1990])

In [42]:
dfmaxes = dfmovies_select.loc[dfmovies_select.groupby(by='Year')['IMBD Rating'].idxmax()]#['Run time'].idxmax()
dfmaxes

,Title,Year,Rating,IMBD Rating,Release Type,Genre,Run time
6,A Christmas Story,1983,PG,7.9,Theater Release,Comedy,93
9,Gremlins,1984,PG,7.3,Theater Release,Horror,106
11,Die Hard,1988,R,8.2,Theater Release,Action,132
12,National Lampoon's Christmas Vacation,1989,PG-13,7.6,Theater Release,Comedy,97
13,Home Alone,1990,PG,7.6,Theater Release,Family,103

In [51]:
dfcomedies = dfmaxes.loc[(dfmaxes['Genre'] == 'Comedy') & (dfmaxes['Run time'].idxmax())]
dfcomedies

,Title,Year,Rating,IMBD Rating,Release Type,Genre,Run time
6,A Christmas Story,1983,PG,7.9,Theater Release,Comedy,93
12,National Lampoon's Christmas Vacation,1989,PG-13,7.6,Theater Release,Comedy,97

In [53]:
dfchosenmovie = dfmaxes.loc[dfcomedies['Run time'].idxmax()]
dfchosenmovie

Title           National Lampoon's Christmas Vacation
Year                                             1989
Rating                                          PG-13
IMBD Rating                                       7.6
Release Type                          Theater Release
Genre                                          Comedy
Run time                                           97
Name: 12, dtype: object